<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958764667352-ts3c1j8hdih8grrbe6fkhl82kjg4k2ps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958764667352-ts3c1j8hdih8grrbe6fkhl82kjg4k2ps</string>
	<key>API_KEY</key>
	<string>AIzaSyCpNNnGAn6qasaMQvw3qhff89to16gn36g</string>
	<key>GCM_SENDER_ID</key>
	<string>958764667352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>acg.sgln.lottery</string>
	<key>PROJECT_ID</key>
	<string>sgln-lottery</string>
	<key>STORAGE_BUCKET</key>
	<string>sgln-lottery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958764667352:ios:e51f7b2a494846cdfe62ad</string>
</dict>
</plist>