@using ACG.SGLN.Lottery.Application.Notifications;
@model TemplateViewModel<MailNotificationDto>
@{
}

    <p>
        Bonjour <br />

        @Model.Data.Body.<br />

        Salutations,<br />
        Equipe SGLN.<br />
    </p>
