@using Microsoft.Extensions.Options;
@using ACG.SGLN.Lottery.Domain.Options;
@using ACG.SGLN.Lottery.Application.Users;

@inject IOptions<UrlsOptions> urlOptions
@model TemplateViewModel<UserCreateDto>
@{
}

<p>Bonjour,</p>
<p>
    Suite a votre de demande de réintialisation de mot de passe, veuillez suivre le lien suivant : <a href="@urlOptions?.Value.BOUrl/reset-password?code=@Html.Encode(Model.Data.Token)">Réintialiser mon mot de passe</a>
    <br />
    Salutations,<br />

    Equipe SGLN.<br />
</p>