update [dbo].[Retailers] set SISALCommercialMail = 'hicham.aittaleb@slm.ma' where SISALCommercialName = 'AIT TALEB HICHAM'
update [dbo].[Retailers] set SISALCommercialMail = 'mohamed.amagor@slm.ma' where SISALCommercialName = 'AMAGOUR MOHAMMED'
update [dbo].[Retailers] set SISALCommercialMail = 'Amine.Cherrou@slm.ma' where SISALCommercialName = 'CHEROU Med AMINE'
update [dbo].[Retailers] set SISALCommercialMail = 'tarik.fakhri@slm.ma' where SISALCommercialName = 'FAKHARI TARIK'
update [dbo].[Retailers] set SISALCommercialMail = 'mustapha.knar@slm.ma' where SISALCommercialName = 'KNAR MUSTAPHA'
update [dbo].[Retailers] set SISALCommercialMail = 'redouane.moutaine@slm.ma' where SISALCommercialName = 'MOUSTAINE REDOUANE'
update [dbo].[Retailers] set SISALCommercialMail = 'hamza.rochdi@slm.ma' where SISALCommercialName = 'ROCHDI HAMZA'
update [dbo].[Retailers] set SISALCommercialMail = 'mohammed.sakhi@slm.ma' where SISALCommercialName = 'SAKHI MOHAMMED'
update [dbo].[Retailers] set SISALCommercialMail = 'hicham.aittaleb@slm.ma' where SISALCommercialName = 'AIT TALEB HICHAM'
update [dbo].[Retailers] set SISALCommercialMail = 'mohamed.cherguihali@slm.ma' where SISALCommercialName = 'CHERGUI HALI MOHAMED'
update [dbo].[Retailers] set SISALCommercialMail = 'Amine.Cherrou@slm.ma' where SISALCommercialName = 'CHEROU Med AMINE'
update [dbo].[Retailers] set SISALCommercialMail = 'tarik.fakhri@slm.ma' where SISALCommercialName = 'FAKHARI TARIK'
update [dbo].[Retailers] set SISALCommercialMail = 'brahim.kanfar@slm.ma' where SISALCommercialName = 'KANFAR BRAHIM'
update [dbo].[Retailers] set SISALCommercialMail = 'abdelmajid.kharrat@slm.ma' where SISALCommercialName = 'KHARRAT ABDELMJID'
update [dbo].[Retailers] set SISALCommercialMail = 'mustapha.knar@slm.ma' where SISALCommercialName = 'KNAR MUSTAPHA'
update [dbo].[Retailers] set SISALCommercialMail = 'redouane.moutaine@slm.ma' where SISALCommercialName = 'MOUSTAINE REDOUANE'
update [dbo].[Retailers] set SISALCommercialMail = 'oumadine.abdellatif@slm.ma' where SISALCommercialName = 'OUMADINE ABDELATIF'
update [dbo].[Retailers] set SISALCommercialMail = 'oumadine.abdellatif@slm.ma' where SISALCommercialName = 'OUMADINE ABDELLATIF'
update [dbo].[Retailers] set SISALCommercialMail = 'mohammed.sakhi@slm.ma' where SISALCommercialName = 'SAKHI MOHAMMED'
update [dbo].[Retailers] set SISALCommercialMail = 'karim.zhairi@slm.ma' where SISALCommercialName = 'ZHAIRI KARIM'
update [dbo].[Retailers] set SISALCommercialMail = 'hicham.aittaleb@slm.ma' where SISALCommercialName = 'AIT TALEB HICHAM'
update [dbo].[Retailers] set SISALCommercialMail = 'abdelghani.boukilli@slm.ma' where SISALCommercialName = 'BOUKILI ABDELGHANI'
update [dbo].[Retailers] set SISALCommercialMail = 'mohamed.cherguihali@slm.ma' where SISALCommercialName = 'CHERGUI HALI MOHAMED'
update [dbo].[Retailers] set SISALCommercialMail = 'tarik.fakhri@slm.ma' where SISALCommercialName = 'FAKHARI TARIK'
update [dbo].[Retailers] set SISALCommercialMail = 'abdelmajid.kharrat@slm.ma' where SISALCommercialName = 'KHARRAT ABDELMJID'
update [dbo].[Retailers] set SISALCommercialMail = 'mustapha.knar@slm.ma' where SISALCommercialName = 'KNAR MUSTAPHA'
update [dbo].[Retailers] set SISALCommercialMail = 'redouane.moutaine@slm.ma' where SISALCommercialName = 'MOUSTAINE REDOUANE'
update [dbo].[Retailers] set SISALCommercialMail = 'mohammed.sakhi@slm.ma' where SISALCommercialName = 'SAKHI MOHAMMED'
update [dbo].[Retailers] set SISALCommercialMail = 'Younes.Slassi@slm.ma' where SISALCommercialName = 'SLASSI MED YOUNESS'
update [dbo].[Retailers] set SISALCommercialMail = 'Younes.Slassi@slm.ma' where SISALCommercialName = 'SLASSI MED YOUNESS'
update [dbo].[Retailers] set SISALCommercialMail = 'anouar.zbakh@slm.ma' where SISALCommercialName = 'ZBAKH AOUAR'
update [dbo].[Retailers] set SISALCommercialMail = 'karim.zhairi@slm.ma' where SISALCommercialName = 'ZHAIRI KARIM'

update [dbo].[Retailers] set SGLNCommercialMail = 'benali@sgln.ma' where SGLNCommercialName = 'BENALI Taoufik'
update [dbo].[Retailers] set SGLNCommercialMail = 'kani@sgln.ma' where SGLNCommercialName = 'KANI Brahim'
update [dbo].[Retailers] set SGLNCommercialMail = 'morabet@sgln.ma' where SGLNCommercialName = 'MORABET Abdellatif'
	
	
	
	
